{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Trabalho SW{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h2>Consultar Tabelas do Sakila</h2>

    <label for="tabela">Escolha uma tabela:</label>
    <select id="tabela">
        <option value="actor">Ator</option>
        <option value="film">Filme</option>
        <option value="category">Categoria</option>
    </select>

    <label for="entrada">Consulta:</label>
    <input type="text" id="entrada">

    <button onclick="consultar()">Consultar</button>

    <h3>Resultado da Consulta:</h3>
    <p id="saida"></p>

    <script>
        async function consultar() {
            var tabela = document.getElementById("tabela").value;
            var entrada = document.getElementById("entrada").value;

            try {
                const response = await fetch(`/consultar/${tabela}/${entrada}`);
                const data = await response.json();

                if (data.existe) {
                    document.getElementById("saida").innerText = `O objeto existe na tabela ${tabela}.`;
                } else {
                    document.getElementById("saida").innerText = `O objeto não foi encontrado na tabela ${tabela}.`;
                }
            } catch (error) {
                console.error('Erro ao consultar:', error);
                document.getElementById("saida").innerText = 'Erro ao consultar a API.';
            }
        }
    </script>

</body>
</html>