{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Trabalho SW{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h2>Busque por um produto</h2>

    <label for="entrada">Busca:</label>
    <input type="text" id="entrada">

    <button onclick="exibirSaida()">Procurar</button>

    <h3>Resultado da pesquisa:</h3>
    <p id="saida"></p>

    <script>
        //onde vai ser feita a comunicação com a API
        function exibirSaida() {
            var entrada = document.getElementById("entrada").value;
            var saida = "Resultado da procura: " + entrada;
            document.getElementById("saida").innerText = saida;
        }
    </script>

</body>
</html>